* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #5e5e5e;
}

a {
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
}

.container {
  display: flex;
}

.sidebar {
  flex: 1;
  padding: 40px 30px;
  background-color: white;
  min-height: 100vh;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.sidebar .container-sidebar {
  background-color: #f5f5f5;
  padding: 30px 25px;
  height: 100vh;
  border-radius: 20px;
}

.container-sidebar .title {
  margin-bottom: 30px;
}

.container-sidebar .menu {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.container-sidebar .menu .link-page {
  display: inline-flex;
  gap: 10px;
  padding: 15px 8px;
  border-radius: 10px;
  text-decoration: none;
  color: #3a3a3a;
  font-size: 16px;
  font-weight: bold;
}

.container-sidebar .menu .link-page:hover {
  background-color: #ebebeb;
}

.container-sidebar .menu .link-page.category-list {
  margin-left: 10px;
}

.container-sidebar .menu .link-page i {
  font-size: 20px;
}

.container-sidebar .menu .category {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 10px;
}

.content {
  flex: 4;
  padding: 70px 20px;
}

.content .all-items .group-title {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}

.content .all-items .title {
  margin-bottom: 20px;
}

.content .all-items .group {
  display: flex;
  gap: 20px;
}

.content .all-items .group .input-wrap {
  width: 100%;
  padding: 20px;
  border: 1px solid #dedede;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 20px;
  transition: all 0.3s ease-in-out;
}

.content .all-items .group .input-wrap:focus-within {
  border: 1.5px solid #4e4e4e;
}

.content .all-items .group .input-wrap input {
  border: none;
  outline: none;
  font-size: 20px;
  width: 100%;
}

.content .all-items .group .input-wrap input::placeholder {
  font-size: 18px;
  font-weight: bold;
}

.content .all-items .group .input-wrap i {
  font-size: 20px;
}

.content .all-items .group .add-task {
  padding: 10px 40px;
  max-width: 150px;
  width: 100%;
  background-color: #d8d8d8;
  color: #010101;
  font-size: 16px;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

/* CARD STYLING */
.container-card {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
  padding: 20px 20px;
  border-top: 2px solid #dedede;
  border-left: 2px solid #dedede;
  border-radius: 10px;
}

.container-card .card {
  padding: 20px;
  border-radius: 10px;
  background-color: #f5f5f5;
  width: 100%;
  max-width: 300px;
  transition: all 0.3s ease-in-out;
}

.container-card .card .catogory {
  background-color: rgb(244, 163, 163);
  border-radius: 20px;
  padding: 5px 15px;
  color: #3a3a3a;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 5px;
  display: inline-flex;
}

.title-card {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

.deadline {
  font-size: 14px;
  margin-bottom: 5px;
}

.countdown {
  margin-bottom: 10px;
}

.countdown .countdown-time {
  font-size: 14px;
  font-weight: bold;
}

.btn-done-task {
  padding: 5px 20px;
  width: 100%;
  background-color: #d8d8d8;
  color: #010101;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
}
